.sidebar {
    background: #333;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.app, .sidebar {
    height: calc(100vh - 100px);
    padding: 0;
    margin: 0;
}

.footer-container, .footer-row, .footer-sidebar {
    padding: 0;
    margin: 0;
}

.footer-sidebar {
    height: 100px;
    background: #333;
}
.textField {
    color: #47e6cf;
}